[Unit]
Description=Burp-UI Agent
After=network.target burp.service

[Service]
Environment=CONFIG=/etc/burp/buiagent.cfg
ExecStart=/usr/local/bin/bui-agent -vvvc $CONFIG
Restart=on-failure

[Install]
WantedBy=multi-user.target
