name: Docker Image CI for PRs

on:
  pull_request:
    branches: [ master ]

jobs:

  test_build:

    runs-on: ubuntu-latest

    steps:

      - name: Check Out Repo
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build burp server
        id: docker_build_burp_server_latest
        uses: docker/build-push-action@v6
        with:
          context: ./burp-server
          file: ./burp-server/Dockerfile
          platforms: linux/amd64,linux/arm64
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: burp-server:latest

      - name: Image digest
        run: echo ${{ steps.docker_build_burp_server_latest.outputs.digest }}

      - name: Build burp ui
        id: docker_build_burp_ui_latest
        uses: docker/build-push-action@v6
        with:
          context: ./burp-ui
          file: ./burp-ui/Dockerfile
          platforms: linux/amd64,linux/arm64
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: burp-ui:latest

      - name: Image digest
        run: echo ${{ steps.docker_build_burp_ui_latest.outputs.digest }}

      - name: Build burp client
        id: docker_build_burp_client_latest
        uses: docker/build-push-action@v6
        with:
          context: ./burp-client
          file: ./burp-client/Dockerfile
          platforms: linux/amd64,linux/arm64
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: burp-client:latest

      - name: Image digest
        run: echo ${{ steps.docker_build_burp_client_latest.outputs.digest }}
